---
// filepath: /c:/Users/lilda/OneDrive/Documentos/Audiophile-e-commerce/src/pages/checkout.astro

import InputsForm from "../components/InputsForm.astro";
import { numberFormatUSD } from "../services/numberFormat.ts";
import SumarryItems from "../components/SumarryItems.astro";
import LayoutCategoryPages from "../layouts/LayoutCategoryPages.astro";
const cart = Array.isArray(Astro.locals.cart) ? Astro.locals.cart : [];
---

<!-- //todo -->
<LayoutCategoryPages showBestAudio={false} title="CHECKOUT" isBgWhite={false}>
    <div class="lg:flex lg:justify-between lg:gap-10 lg:mb-10">
        <form id="form" class="bg-white rounded-lg p-5" action="">
            <h1 class="font-bold text-2xl">CHECKOUT</h1>
            <div class="space-y-5 mt-5">
                <h2 class="text-[#D87D4A]">Billing Details</h2>
                <div class="space-y-5 md:flex md:flex-wrap md:gap-5">
                    <InputsForm
                        type="text"
                        placeHolder="Alexei Ward"
                        label="Name"
                    />
                    <InputsForm
                        type="email"
                        placeHolder="alexei@mail.com"
                        label="Email Address"
                    />
                    <InputsForm
                        type="tel"
                        placeHolder="+1 202-555-0136"
                        label="Phone Number"
                    />
                </div>
            </div>
            <div class="mt-10 space-y-5">
                <h2 class="text-[#D87D4A]">Shipping Info</h2>
                <InputsForm
                    type="text"
                    placeHolder="1137 Williams Avenue"
                    label="Your Address"
                    className="w-full md:w-full"
                />
                <div class="space-y-5 md:flex md:flex-wrap md:gap-5">
                    <InputsForm
                        type="text"
                        placeHolder="10001"
                        label="Zip Code"
                    />
                    <InputsForm
                        type="text"
                        placeHolder="New York"
                        label="City"
                    />
                    <InputsForm
                        type="text"
                        placeHolder="United States"
                        label="Country"
                    />
                </div>
            </div>

            <div class="mt-10">
                <h2 class="text-[#D87D4A]">Payment Details</h2>
                <div class="space-y-5 md:flex md:justify-between md:gap-5">
                    <h3 class="font-bold">Payment Method</h3>
                    <div class="space-y-2">
                        <div
                            class="flex items-center flex-row-reverse justify-end border border-[#D87D4A] rounded-lg gap-5 p-3"
                        >
                            <label for="e-money" class="font-bold"
                                >e-Money</label
                            >
                            <input
                                type="radio"
                                name="paymentMethod"
                                id="e-money"
                                value="e-money"
                                required
                            />
                        </div>
                        <div
                            class="flex items-center flex-row-reverse justify-end border border-[#D87D4A] rounded-lg gap-5 p-3"
                        >
                            <label for="cash-on-delivery" class="font-bold"
                                >Cash on Delivery</label
                            >
                            <input
                                type="radio"
                                name="paymentMethod"
                                id="cash-on-delivery"
                                value="cash-on-delivery"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="space-y-5 mt-5 md:flex md:flex-wrap md:gap-5">
                    <InputsForm
                        type="text"
                        placeHolder="238521993"
                        label="e-Money Number"
                    />
                    <InputsForm
                        type="text"
                        placeHolder="6891"
                        label="e-Money PIN"
                    />
                </div>
            </div>
        </form>

        <section class="bg-white rounded-lg p-5 my-5 lg:my-0 lgmt-0 lg:h-fit">
            <h3 class="font-bold text-2xl">Summary</h3>
            <ul class="mt-5 space-y-5">
                {
                    cart.map((item) => {
                        return <SumarryItems item={item} />;
                    })
                }
            </ul>
            <div class="flex justify-between items-center mt-5">
                <p>TOATL</p>
                <p class="font-bold text-2xl">
                    {
                        numberFormatUSD(
                            cart.reduce(
                                (acc, item) =>
                                    (acc += item.price * item.quantity),
                                0,
                            ),
                        )
                    }
                </p>
            </div>
            <button
                id="checkout"
                class="w-full text-white bg-[#D87D4A] p-2 cursor-pointer mt-5"
                type="submit"
                form="form">CONTINUE & PAY</button
            >
        </section>
    </div>
</LayoutCategoryPages>

<script>
    import Cookies from "js-cookie";
    document.querySelector("#checkout")?.addEventListener("submit", (e) => {
        e.preventDefault();
        const cart = JSON.parse(Cookies.get("cart") ?? "[]");

        if (cart.length === 0) {
            alert("Your cart is empty!");
            return;
        }

        alert("Thank you for your purchase!");
        Cookies.remove("cart");
        window.location.href = "/";
    });
</script>

<style>
    input[type="radio"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #d87d4a;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        position: relative;
    }

    input[type="radio"]:checked::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #d87d4a;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
