---
import { Picture } from "astro:assets";

import ImageSpeaker from "../assets/home/desktop/image-speaker-zx9.png";
import Layout from "../layouts/Layout.astro";
import Categories from "../components/shared/Categories.astro";
---

<Layout>
	<Categories />
	<!-- class="space-y-10 max-w-[90%] lg:max-w-[80%] mx-auto mt-24" -->
	<main class="w-[90%] lg:w-[80%] mx-auto mt-24 space-y-10">
		<article
			class="h-[38rem] lg:h-[488px] bg-[#D87D4A] bg-[url(../assets/home/desktop/pattern-circles.svg)] bg-no-repeat bg-[length:170%] md:bg-[length:120%] lg:bg-[length:85%] bg-[center_-150px] md:bg-[center_-265px] lg:bg-[right_300px_top_0px] mx-auto rounded-lg p-5 md:p-12 lg:content-end lg:pb-0"
		>
			<section
				class="flex flex-col gap-10 md:gap-10 lg:gap-30 lg:flex-row lg:items-center lg:justify-center"
			>
				<div
					class="w-[172px] md:w-[200px] lg:w-[350px] h-[207px] lg:h-[448px] mx-auto lg:content-end"
				>
					<Picture
						src={ImageSpeaker}
						widths={[172, 220, 720, 450]}
						sizes={`(max-width: 360px) 172px, (max-width: 768px) 200px, (max-width: 1024px) 450px, `}
						loading="lazy"
						quality={50}
						formats={["avif", "webp", "jpeg", "jpg"]}
						alt="Una descripción de mi imagen."
						class="recorte"
					/>
				</div>
				<div class="space-y-5 md:space-y-7">
					<h2
						class="text-white text-center lg:text-left font-bold text-2xl md:text-[40px]"
					>
						ZX9 <br /> SPEAKER
					</h2>
					<p
						class="md:text-[17px] text-white text-center lg:text-left md:w-[320px] md:mx-auto"
					>
						Upgrade to premium speakers that are phenomenally built
						to deliver truly remarkable sound.
					</p>
					<a
						href="/speakers/zx9-speaker"
						class="max-w-fit text-white text-center bg-black hover:bg-[#4C4C4C] transition-all p-2 md:p-3 block mx-auto lg:mx-0"
						>SEE PRODUCT</a
					>
				</div>
			</section>
		</article>

		<article
			class=`h-[320px] bg-[url(../assets/home/mobile/image-speaker-zx7.jpg)] md:bg-[url(../assets/home/tablet/image-speaker-zx7.jpg)] lg:bg-[url(../assets/home/desktop/image-speaker-zx7.jpg)] bg-center bg-no-repeat bg-cover mx-auto p-10 md:p-16 lg:p-20 content-center rounded-lg`
		>
			<section class="space-y-5">
				<h2 class="text-black text-2xl md:text-[35px] font-bold">
					ZX7 SPEAKER
				</h2>
				<a
					href="/speakers/zx7-speaker"
					class="w-fit block border-2 border-black hover:bg-black hover:text-white p-2 transition-all"
					>SEE PRODUCT</a
				>
			</section>
		</article>

		<article class="">
			<section
				class="flex flex-col gap-5 md:flex-row md:justify-between lg:justify-between"
			>
				<div
					class="md:w-[520px] lg:w-[520px] h-[200px] md:h-[320px] bg-[url(../assets/home/mobile/image-earphones-yx1.jpg)] md:bg-[url(../assets/home/tablet/image-earphones-yx1.jpg)] lg:bg-[url(../assets/home/desktop/image-earphones-yx1.jpg)] bg-no-repeat bg-cover bg-center rounded-lg"
				>
				</div>
				<div
					class="md:w-[520px] h-[200px] md:h-[320px] lg:w-[520px] bg-[#f1f1f1] rounded-lg content-center space-y-5 pl-7 lg:pl-20"
				>
					<h2 class="w-fit text-2xl md:text-[35px] font-bold">
						YX1 EARPHONES
					</h2>
					<a
						class="w-fit block border-2 border-black hover:bg-black hover:text-white p-2 transition-all"
						href="/earphones/yx1-earphones">SEE PRODUCT</a
					>
				</div>
			</section>
		</article>
	</main>
</Layout>

<style>
	.recorte {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 98%, 0 98%);
	}
</style>
