---
import Overlay from "../Overlay.astro";
---

<Overlay />

<nav id="nav-menu" class="hidden fixed top-0 h-screen bg-black w-[70%]">
    <ul class="flex flex-col items-center justify-center h-full space-y-10">
        <li>
            <a href="/" class="text-[#fff] font-bold text-2xl">HOME</a>
        </li>
        <li>
            <a href="/headphones" class="text-[#fff] font-bold text-2xl"
                >HEADPHONES</a
            >
        </li>
        <li>
            <a href="/speakers" class="text-[#fff] font-bold text-2xl"
                >SPEAKERS</a
            >
        </li>
        <li>
            <a href="/earphones" class="text-[#fff] font-bold text-2xl"
                >EARPHONES</a
            >
        </li>
    </ul>
</nav>
