---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import Footer from "../components/shared/Footer.astro";
import BestAudio from "../components/shared/BestAudio.astro";
import HeaderLayout from "../components/HeaderLayout.astro";
import MenuMobile from "../components/shared/MenuMobile.astro";
import Cart from "../components/shared/Cart.astro";
interface Props {
	title?: string;
}

const { title = "Audiophile e-commerce website" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<HeaderLayout />

		<slot />

		<div class="w-[90%] lg:w-[80%] mx-auto">
			<BestAudio />
		</div>

		<Footer />
		<Cart />
		<MenuMobile />
	</body>
</html>

<script>
	import menuEventListener from "../scripts/toggleMenu.ts";

	document.addEventListener("astro:page-load", () => {
		const $selector = (element: string) =>
			document.querySelector(element) as HTMLElement;

		const $menuHamburger = $selector("#menu");
		const $overlay = $selector(".overlay-menu");
		const $navMenu = $selector("#nav-menu");
		const $cart = $selector("#cart");
		const $cartSummary = $selector("#cart-summary");

		function removeCartSummary() {
			$cartSummary.textContent = "";
		}

		menuEventListener($menuHamburger, $overlay, $navMenu);
		menuEventListener($cart, $overlay, $cartSummary, removeCartSummary);
	});
</script>
